# General
/Makefile
*.o
*.a
*.so
*/bin/
*/lib/

# Autotools
*aclocal.m4
*autom4te.cache*
*config.log
*config.status
*cpu_property.out
configure

# Julita's
DB/
OUTS/
DB_Learning_phase/
*romio_hints.txt
*log.env
*hostlist
*sim_metrics.csv
sim_metrics.csv
tmp/*
slurm-*.out
coefficients_list.csv
*accepted_intel_ptu_license
*.csv
src/commands/ear_options_test.c
src/commands/ear_energy_over_time
kernels/NPB3.3.1/NPB3.3-OMP/bin/
kernels/NPB3.3.1/NPB3.3-MPI/bin/
src/tests/functionals/read_from_file
src/tests/functionals/ping
kernels/NPB3.3.1-MZ/NPB3.3-MZ-MPI/bin/sp-mz.C.40
kernels/NPB3.3.1-MZ/NPB3.3-MZ-MPI/bin/
src/tools/compute_coefficients_v2
src/tools/ear_lp_validation
src/tools/get_projections


# Build
etc/module/ear
etc/slurm/ear.conf
etc/conf/ear.conf
etc/slurm/ear.plugstack.conf
etc/systemd/eard.service
etc/systemd/eardbd.service
etc/systemd/eargmd.service
src/common/config.h
tests/check/check.sh
*coefficients_to_csv
*coefficients_v2_to_v3

*libear.so
*libeart.so
*eard

*ereport
*eacct
*econtrol
*ear_control
*ear_get_node_freq
*ear_set_node_freq
*ear_set_ondemand
*ear_report
*ear_create_database
*ear_end_job
*ear_new_job
*ear_energy_over_time
*ear_store_database
*ear_inc_th
*ear_red_freq
*ear_set_freq
*ear_set_th
*ear_set_ondemand
*ear_gm
*eargmd
*eargm_new_job
*eargm_end_job
*eardbd
*ear_dbd_stress_test
*ear_types

*client_api_test
*compute_coefficients_remote
*coefficients_quality_control
*compute_coefficients_v3
*compute_coefficients_v2
*get_app_list
*get_ear_events
*get_active_nodes
*compute_coefficients
*traces_to_paraver
*database_eraser
*configuration_check
*batch_insert
*remove_learning
*ips
*ping

# IDE
cmake*
CMake*
*_trash
*.idea

# Kernels
npbparams.h
setparams
kernels/STREAM/stream_mpi
kernels/DGEMM/mkl_c_samples_09072016.tgz

