# General
/Makefile
*.o
*.a
*.so
*/bin/
*/lib/

# Autotools
*aclocal.m4
*autom4te.cache*
*config.log
*config.status
*cpu_property.out
configure

# Julita's
DB/
DB_Learning_phase/
*romio_hints.txt
*log.env
*hostlist
*sim_metrics.csv

# Build
etc/ear-1.0
src/common/config.h
tests/check/check.sh
etc/scripts/environment/lib_vars.sh

*libear.so
*libeart.so
*eard

src/tools/input
*coefficients_quality_control
*compute_coefficients
*traces_to_paraver
*database_eraser

# IDE
cmake*
CMake*
*_trash
*.idea

# Kernels
npbparams.h
setparams

sim_metrics.csv
