# General
/Makefile
/src/library/Makefile
*.o
*.a
*.so
*/bin/
*/lib/

# Autotools
*aclocal.m4
*autom4te.cache*
*config.log
*config.status
*cpu_property.out
configure

# Julita's
DB/
DB_Learning_phase/
*romio_hints.txt
*log.env
*hostlist
*sim_metrics.csv
sim_metrics.csv

# Build
etc/module/ear
etc/slurm/ear.conf
etc/slurm/plugstack.conf
etc/systemd/eard.service
etc/systemd/eardbd.service
etc/systemd/eargmd.service
src/common/config.h
tests/check/check.sh

*libear.so
*libeart.so
*eard

*ear_control
*ear_get_node_freq
*ear_set_node_freq
*ear_set_ondemand
*ereport
*ear_report
*ear_create_database
*ear_end_job
*ear_new_job
*ear_energy_over_time
*ear_store_database
*eargmd
*ear_gm
*ear_inc_th
*ear_red_freq
*ear_set_freq
*ear_set_th
*ear_set_ondemand

*compute_coefficients_remote
*coefficients_quality_control
*compute_coefficients
*traces_to_paraver
*database_eraser

# IDE
cmake*
CMake*
*_trash
*.idea

# Kernels
npbparams.h
setparams
