# General
core.*

# Check
*cpu_model
*cpu_aperf
*cpu_uncores
*cpu_uncores_all
*papi_version
*papi_init
*papi_comp_available
*papi_comp_enabled
*gsl_version
*slurm_version
*free_ipmi_version

# Functionals
functionals/inputs

*eard_monitor
*dynais_input
*hardware_scanner
*freeipmi_overhead
*intel_pci_uncores_stress
*simd_power_metrics
*papi_cpu_gflops
